appdirs==1.4.4
beautifulsoup4==4.13.4
boto3==1.34.119
botocore==1.34.119
certifi==2024.2.2
chardet==5.2.0
charset-normalizer==3.3.2
colorama==0.4.6
cramjam==2.8.3
et-xmlfile==1.1.0
fastparquet==2024.5.0
fsspec==2024.9.0
gitdb==4.0.12
GitPython==3.1.44
idna==3.7
jmespath==1.0.1
joblib==1.4.2
lxml==5.4.0
mando==0.7.1
markdown-it-py==3.0.0
mdurl==0.1.2
numpy==1.26.4
openpyxl==3.1.5
packaging==24.1
pandas==2.2.3
parse==1.20.2
pfzy==0.3.4
prompt-toolkit==3.0.36
pyarrow==17.0.0
pydub==0.25.1
Pygments==2.19.1
pygount==2.0.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pytz==2024.2
pywin32==310
PyYAML==6.0.1
questionary==2.0.1
radon==6.0.1
requests==2.32.3
rich==13.9.4
s3transfer==0.10.1
scikit-learn==1.5.2
scipy==1.14.1
setuptools==70.0.0
six==1.16.0
smmap==5.0.2
soupsieve==2.7
tenacity==9.0.0
threadpoolctl==3.5.0
typing-inspection==0.4.0
typing_extensions==4.13.2
tzdata==2024.1
tzlocal==5.2
urllib3==1.26.20
w3lib==2.3.1
wcwidth==0.2.13
websockets==10.4
wincertstore==0.2
windows-curses==2.4.1
xlrd==2.0.1
XlsxWriter==3.0.8
zipp==3.21.0
